@model BlogVarellaMotos.Models.ChangeNameUserViewModel
@{
    ViewBag.Title = "Alterar nome do usuário";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<br />
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ChangeNameUser", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label class="col-md-2 control-label">Nome</label>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Alterar" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}